{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <div class="content">
        {% include 'components/head_navbar_custom.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Salle</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Ressources Formation  {{ salle.center.address }} {{ salle.center.codePostal }} {{ salle.center.city }}</h4>

                            <div class="table-responsive">
                                <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ salle.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom Salle</th>
                                        <td>{{ salle.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Formation</th>
                                        <td>{{ salle.formation.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ salle.createdAt ? salle.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                    </tr>
                                    <tr class="bg-success">
                                        <th>Total Présent</th>
                                        <td>{{ salle.totalPresence }} Apprenants</td>
                                    </tr>
                                    <tr>
                                        <th>Statut</th>
                                        <td>{{salle.status }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="d-inline-flex ">
                                    <a href="{{ path('salle_edit', {'id': salle.id}) }}" class="btn btn-outline-info">Modifier</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Liste des apprenants de la  {{ salle.name }}</h4>

                            <p>Présent.s en <span class="bg-success pl-2 pr-2 text-light">vert</span></p>
                            <p>Absent.s en <span class="bg-danger pl-2 pr-2 text-light">rouge</span></p>

                            <div class="table-responsive">
                                <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom Prénom</th>
                                            <th>Motif si absence </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if sessions %}
                                            {% for session in sessions %}
                                                {% if session.present == true %}
                                                    <tr class="table table-success">
                                                        <td>{{ session.id }}</td>
                                                        <td> {{ session.student.name }}</td>
                                                        <td>{{ session.reasonMissing }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="table table-danger">
                                                        <td>{{ session.id }}</td>
                                                        <td>{{ session.student.name }}</td>
                                                        <td>{{ session.reasonMissing }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="3" class="text-danger text-center"><i class="far fa-frown fa-2x"></i> Aucune session disponible pour le moment </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
