{% extends 'base_dashboard.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Question {{ question.id }} : </th>
                <td>{{ question.content }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(formChoice) }}
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(formChoice.content) }}
                <a href="{{ path('app_quiz_show', {'id': question.quiz.id}) }}" class="btn btn-secondary btn-block mt-2">Retour</a>
                <button type="submit" class="btn btn-primary btn-block mt-2">{{ button_label|default('Valider') }}</button>
            </div>

            <div class="col-md-6">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Choix</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for choice in choices %}
                        {% set choose = false %}
                        <tr>
                            <td><i class="fa fa-question btn btn-secondary"></i> {{ choice.content|capitalize }}</td>
                            <td>
                                <div>
                                    {% set answerChoose = answerByOptionChoice(choice, choice.question) %}

                                    {% if answerChoose is not null %}
                                        {% set choose = true %}
                                    {% endif %}

                                    {% if choose == false %}
                                        <a href="{{ path('app_answer_answer', {'id': choice.id}) }}">
                                            <span class="btn btn-dark btn-block">Choix</span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_answer_cancel_answer', {'id': choice.id}) }}">
                                            <span class="btn btn-success btn-block">Choix valider</span>
                                        </a>
                                    {% endif %}

                                    <a href="{{ path('app_option_choice_delete', {'id': choice.id}) }}">
                                        <span class="btn btn-danger btn-block">Supprimer</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {{ form_end(formChoice) }}
{% endblock %}
