{% extends 'base_dashboard.html.twig' %}

{% block title %}{{ 'session.qcm.title'|trans }}{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ 'session.quiz.title'|trans }} : {{ quiz.name }}</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <form method="POST">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-3">&nbsp;</h4>

                                {% for question in quiz.questions %}
                                    <div class="mt-2">
                                        <h5 class="m-0 pb-2 bg-rf">
                                            <a class="text-dark" data-bs-toggle="collapse" href="#task-{{ question.id }}" role="button" aria-expanded="true" aria-controls="task-{{ question.id }}">
                                                <i class="uil uil-angle-down font-18"></i> {{ loop.index }} {{ question.content }}
                                            </a>
                                        </h5>

                                        <div class="collapse show" id="task-{{ question.id }}" style="">
                                            <div class="card mb-0">
                                                <div class="card-body">
                                                    {% for optionChoice in question.optionChoices %}
                                                        <div class="row justify-content-sm-between mt-2">
                                                            <div class="col-sm-6 mb-2 mb-sm-0">
                                                                <div class="form-check">
                                                                    <input type="radio" class="form-check-input" required id="option-choice-value-{{ question.id }}" name="option-choice-value-{{ question.id }}" value="{{ optionChoice.id }}">
                                                                    <label class="form-check-label" for="option-task-{{ optionChoice.id }}">
                                                                        {{ optionChoice.content }}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <div class="float-end">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="uil uil-message me-1"></i>{{ 'btn.valide'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
