{% extends 'base.html.twig' %}

{% block title %}Site de Formation{% endblock %}

{% block body %}
    <div class="content">
        {% include 'components/head_navbar_custom.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Sites Ressources Formation</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Sites Ressources Formation</h4>

                            <p>
                                <a href="{{ path('center_new') }}" class="btn btn-outline-danger mb-2 mt-2">Ajouter un site</a>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Adresse</th>
                                            <th>Ville</th>
                                            <th>Codepostal</th>
                                            <th>Phone</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for center in centers %}
                                            <tr>
                                                <td>{{ center.id }}</td>
                                                <td>{{ center.name }}</td>
                                                <td>{{ center.address }}</td>
                                                <td>{{ center.city }}</td>
                                                <td>{{ center.codePostal }}</td>
                                                <td>{{ center.phone }}</td>
                                                <td>
                                                    <a href="{{ path('center_show', {'id': center.id}) }}" class="btn btn-outline-info"><i class="mdi mdi-eye me-1"></i></a>
                                                    <a href="{{ path('center_edit', {'id': center.id}) }}" class="btn btn-outline-danger"><i class="mdi mdi-account-edit me-1"></i></a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
