<div class="navbar-custom">
    <ul class="list-unstyled topbar-menu float-end mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <span class="account-user-avatar">
                    <img src="{{ vich_uploader_asset(app.user.mediaProfil, 'avatarFile') }}" alt="user-image" class="rounded-circle">
                </span>
                <span>
                    <span class="account-user-name">{{ app.user.name }}</span>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

                {% if app.user.role == constant('App\\Entity\\User::ROLE_TEACHER') %}
                    <a href="#" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>{{ 'home.menu.user.profil'|trans }}</span>
                    </a>
                {% endif %}

                {% if app.user.role == constant('App\\Entity\\User::ROLE_ADMINISTRATION') %}
                    <a href="#" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>{{ 'home.menu.user.profil'|trans }}</span>
                    </a>
                {% endif %}

                {% if app.user.role == constant('App\\Entity\\User::ROLE_STUDENT') or app.user.role == constant('App\\Entity\\User::ROLE_USER') %}
                    <a href="{{ path('account') }}" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>{{ 'home.menu.user.profil'|trans }}</span>
                    </a>
                {% endif %}

                <a href="{{ path('user_logout') }}" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout me-1"></i>
                    <span>{{ 'home.menu.logout'|trans }}</span>
                </a>
            </div>
        </li>
    </ul>
</div>