{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.student, {
                    label: 'administration.session.form.student.name',
                    attr: {
                        'class': 'form-select',
                        'placeholder': 'administration.session.form.student.placeholder'
                    }
                }) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.salle, {
                    label: 'administration.session.form.salle.name',
                    attr: {
                        'class': 'form-select',
                        'placeholder': 'administration.session.form.salle.placeholder'
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
