{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div class="content">
        {% include 'components/head_navbar_custom.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Session</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Session</h4>

                            <p>
                                <a href="{{ path('session_new') }}" class="btn btn-outline-danger">Ajouter</a>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Formation</th>
                                        <th>Nom et Prénom</th>
                                        <th>Present</th>
                                        <th>Salle</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for session in sessions %}
                                            <tr>
                                                <td>{{ session.id }}</td>
                                                <td>{{ session.salle.formation.name }}</td>
                                                <td>{{ session.student.name }}</td>
                                                <td>{{ session.present ? 'Oui' : 'Non' }}</td>
                                                <td>{{ session.salle.name }}</td>
                                                <td>
                                                    <a href="{{ path('session_show', {'id': session.id}) }}" class="btn btn-outline-info"><i class="mdi mdi-eye me-1"></i></a>
                                                    <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn-outline-info"><i class="mdi mdi-account-edit me-1"></i></a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">no records found</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
