{% extends 'base_home.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
    <section class="hero-section" style="padding: unset;margin-bottom: 60px;">
        <div class="container">
            <div class="row align-items-center">
                <p>&nbsp;</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            {{ form_start(form) }}
            <div class="row g-4 bg-white">
                    <div class="col-md-5">
                        {{ form_row(form.domaine, {attr: {'class': 'form-select mb-3',} }) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.region, {attr: {'class': 'form-select mb-3',} }) }}
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <div class="d-grid">
                            <button class="btn btn-primary " type="submit"><i class="mdi mdi-search-web me-1"></i>Recherche</button>
                        </div>
                    </div>

            </div>
            {{ form_end(form) }}
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4 ">
                {% if formations %}
                    {% for formation in formations %}
                        <div class="col-md-4">
                            <div class="card h-100">
                                {% if formation.image is not null %}
                                    <img src="{{ vich_uploader_asset(formation, 'imageFile') }}" class="card-img-top " alt="image formation">
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title text-center">{{ formation.name }}</h5>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-xs btn-primary rounded-pill ">Je consulte la formation</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p class="text-danger text-center">Aucune formation trouvée ...</p>
                    </div>

                    {% for i in 0..2 %}
                        <div class="col-md-4">
                            <div class="card h-100">
                                    <img src="{{ asset('assets/images/loading-skeleton.gif') }}" class="card-img-top " alt="image formation">
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
