{% extends 'base_home.html.twig' %}

{% block title %} {{ page.title }} {% endblock %}

{% block body %}
    <section class="hero-section" style="padding: unset;margin-bottom: 60px;">
        <div class="container">
            <div class="row align-items-center">
                <p>&nbsp;</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>{{ page.titleLong }}</h3>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-3">
                <div class="col-md-12 mb-3">
                    {{ page.description|raw }}
                </div>

                <hr />

                {% if page.blocks %}
                    {% for block in page.blocks %}
                        <div class="col-md-12">
                            <h3>{{ block.title|raw }}</h3>

                            <p>
                                {{ block.content|raw }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
