{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}

    <div class="container">

        {{ include('components/messageFlash.html.twig') }}

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                    {% if csrf_token('authenticate') %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    {% endif %}

                    <div class="mb-3">
                        {{ form_row(form._username, {
                            label: 'login.form._username.name',
                            attr: {
                                'class': 'form-control',
                                'placeholder': 'login.form._username.placeholder'
                            }
                        }) }}
                    </div>

                    <div class="mb-3">
                        <a href="#" class="text-muted float-end">
                            <small>
                                {{ 'login.passwordForgetInfo'|trans }}
                            </small>
                        </a>
                        {{ form_row(form._password, {
                            label: 'login.form._password.name',
                            attr: {
                                'class': 'form-control',
                                'placeholder': 'login.form._password.placeholder'
                            }
                        }) }}
                    </div>

                    <div class="d-grid mb-0 text-center">
                        <button class="btn btn-primary" type="submit">
                            <i class="mdi mdi-login"></i> {{ 'login.btn'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>

            <div class="col-md-6">
                <img src="{{ asset('assets/images/login-img.webp') }}" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}