{% extends 'base.html.twig' %}

{% block title %} {{ 'register.title'|trans }} {% endblock %}

{% block body %}
    <div class="container">

        {{ include('components/messageFlash.html.twig') }}

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.gender, {
                        label: 'register.form.gender.name',
                        attr: {
                            'class': 'form-select mb-3',
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.lastName, {
                        label: 'register.form.lastName.name',
                        attr: {
                            'class': 'form-control',
                            'placeholder': 'register.form.lastName.placeholder'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.firstName, {
                        label: 'register.form.firstName.name',
                        attr: {
                            'class': 'form-control',
                            'placeholder': 'register.form.firstName.placeholder'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.email, {
                        label: 'register.form.email.name',
                        attr: {
                            'class': 'form-control',
                            'placeholder': 'register.form.email.placeholder'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.password.first, {
                        label: 'register.form.password.first.name',
                        attr: {
                            'class': 'form-control',
                            'placeholder': 'register.form.password.first.placeholder'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.password.second, {
                        label: 'register.form.password.second.name',
                        attr: {
                            'class': 'form-control',
                            'placeholder': 'register.form.password.second.placeholder'
                        }
                    }) }}
                </div>

                <div class="form-check mb-3">
                    {{ form_row(form.hasValidatedCGU, {
                        label: 'register.form.hasValidatedCGU.name',
                        attr: {
                            'class': 'form-check-input',
                            'placeholder': 'register.form.hasValidatedCGU.placeholder'
                        }
                    }) }}
                </div>

                <div class="d-grid mb-0 text-center">
                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> {{ 'register.btn'|trans }} </button>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-md-6">
                <img src="{{ asset('assets/images/login-img.webp') }}" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}