{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.lastName, {
                    label: 'administration.teacher.form.total.name',
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'administration.teacher.form.total.placeholder'
                    }
                }) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.firstName, {
                    label: 'administration.teacher.form.salle.name',
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'administration.teacher.form.salle.placeholder'
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                {{ form_row(form.email, {
                    label: 'administration.teacher.form.email.name',
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'administration.teacher.form.email.placeholder'
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.password.first, {
                    label: 'administration.teacher.form.password.first.name',
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'administration.teacher.form.password.first.placeholder'
                    }
                }) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_row(form.password.second, {
                    label: 'administration.teacher.form.password.second.name',
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'administration.teacher.form.password.second.placeholder'
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
